<div ng-controller="PlacesListController">

	<form>
		<label>Name</label>
		<input ng-model="newItem.name">
		<label>Desc</label>
		<input ng-model="newItem.desc">
		<label>Public</label>
		<input type="checkbox" ng-model="newItem.public">
		
		<button ng-click="items.save(newItem); newItem='';">Add Place</button>
	</form>

	<ul>
		<li ng-repeat="item in items">
			<a href="/places/{{item._id}}">{{item.name}}</a>
			<p>{{item.desc}}</p>
			<button ng-click="remove(item)">X</button>
		</li>
	</ul>

	<form action="http://requestb.in/1bluaro1" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_rRej93hjdXTW9TaWUGSv1odD"
	    data-amount="2000"
	    data-name="Fishing Favorite"
	    data-description="2 widgets ($20.00)"
	    data-image="/128x128.png"
	    data-locale="auto">
	  </script>
	</form>
</div>